@import "primeicons/primeicons.css";

body {
  background: var(--background-lightest);
}

.layout-content-wrapper {
  padding: 16px;
  margin-bottom: 50px;
}

.layout-container-wrapper {
  &.sidebar-compact .layout-content-wrapper {
    margin-left: 80px;
  }

  &.sidebar-default .layout-content-wrapper {
    margin-left: 248px;
  }
}